<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- External CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<nav class="navbar navbar-light bg-light w-100">
  <a class="navbar-brand" href="#">LA VENDOR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">🔥HOT Items</a>
      </li>
      <li class="Sell">
        <a class="nav-link" href="#">Sell an item</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<body>

   <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  <h2>SELLING PRODUCTS</h2>
  <div class="container px-4">
    <div class="row gx-5">
      <div class="col border">
          <div class="container-image">
            <image id="monalisa" alt="Mona Lisa" src ="https://cdn.pixabay.com/photo/2013/01/05/21/02/art-74050_1280.jpg" width="200" height="300"> </image>
            <i class="fas fa-heart bottom-right"></i>
            <div id="monalisa-container"></div>
          </div>
        </div>
      <div class="col border">
        <ul>
          <div class="container-image">
          <image id="campi" alt="V Campi" src ="https://cdn.pixabay.com/photo/2020/04/16/20/27/vincenzo-campi-5052245_960_720.jpg" width="200" height="300"> </image>
          <div class="bottom-right"><i class="fas fa-heart"></i></div>
          </div>
          <div id="campi-container"></div>
        </ul>
      </div>
      <div class="col border">
        <ul>
          <div class="container-image">
          <image id="face" alt="Face Paint" src ="https://cdn.pixabay.com/photo/2017/10/13/16/06/face-painting-2848057_960_720.jpg" width="200" height="300"> </image>
          <div class="bottom-right"><i class="fas fa-heart"></i></div>
          </div>
          <div id="face-container"></div>
        </ul>
      </div>
      <div class="col border">
        <ul>
          <div class="container-image">
          <image id="last-dance" alt="Last Dance" src ="https://cdn.pixabay.com/photo/2016/02/06/23/08/street-art-1183812_960_720.jpg" width="200" height="300"> </image>
          <div class="bottom-right"><i class="fas fa-heart"></i></div>
          </div>
          <!-- <div id="description-container"></div> -->
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col border">
        <ul>
          <div class="container-image">
          <image id="genius" alt="A Einstein" src ="https://cdn.pixabay.com/photo/2019/06/16/01/27/genius-4276759_960_720.jpg" width="200" height="300"> </image>
          <div class="bottom-right"><i class="fas fa-heart"></i></div>
          </div>
          <!-- <div id="description-container"></div> -->
        </ul>
      </div>
      <div class="col border">
        <ul>
          <div class="container-image">
          <image id="festival" alt="Festival in Peru" src ="https://cdn.pixabay.com/photo/2017/11/02/22/47/peru-2912854_960_720.jpg" width="200" height="300"> </image>
          <div class="bottom-right"><i class="fas fa-heart"></i></div>
          </div>
          <!-- <div id="description-container"></div> -->
        </ul>
      </div>
      <div class="col border">
        <ul>
          <div class="container-image">
          <image id="women" alt="Woman" src ="https://cdn.pixabay.com/photo/2017/05/16/08/53/art-2317256_960_720.jpg" width="200" height="300"> </image>
          <div class="bottom-right"><i class="fas fa-heart"></i></div>
          </div>
          <!-- <div id="description-container"></div> -->
        </ul>
      </div>
      <div class="col border">
        <ul>
          <div class="container-image">
          <image id="kid-bear" alt="Kid with Bear" src ="https://cdn.pixabay.com/photo/2017/08/04/01/31/teddy-2578812_960_720.jpg" width="200" height="300"> </image>
          <div class="bottom-right"><i class="fas fa-heart"></i></div>
          </div>
          <!-- <div id="description-container"></div> -->
        </ul>
      </div>
    </div>
  </div>
</body>

</html>
