body {
  flex-direction: column;
  display: flex;

  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}
// ---------------------------------- paintings and description boxes ----------

#monalisa {
  cursor: pointer;
}

#monalisa-container {
  display: none;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-bottom: blue solid 3px;
  border-top: blue solid 3Px;
  border-left: blue solid 3px;
  border-right: blue solid 3px;
  width: 100%;
  font-size: large;
  font-style: black;
  padding: 20px;
}

#campi {
  cursor: pointer;
}

#campi-container {
  display: none;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-bottom: blue solid 3px;
  border-top: blue solid 3Px;
  border-left: blue solid 3px;
  border-right: blue solid 3px;
  width: 100%;
  font-size: large;
  font-style: black;
  padding: 20px;
}

#face {
  cursor: pointer;
}

#face-container {
  display: none;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-bottom: blue solid 3px;
  border-top: blue solid 3Px;
  border-left: blue solid 3px;
  border-right: blue solid 3px;
  width: 100%;
  font-size: large;
  font-style: black;
  padding: 20px;
}

//--- Jan. 10 ---

#last-dance {
  cursor: pointer;
}

#last_dance-container {
  display: none;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-bottom: blue solid 3px;
  border-top: blue solid 3Px;
  border-left: blue solid 3px;
  border-right: blue solid 3px;
  width: 100%;
  font-size: large;
  font-style: black;
  padding: 20px;
}

#genius {
  cursor: pointer;
}

#genius-container {
  display: none;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-bottom: blue solid 3px;
  border-top: blue solid 3Px;
  border-left: blue solid 3px;
  border-right: blue solid 3px;
  width: 100%;
  font-size: large;
  font-style: black;
  padding: 20px;
}

#festival {
  cursor: pointer;
}

#festival-container {
  display: none;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-bottom: blue solid 3px;
  border-top: blue solid 3Px;
  border-left: blue solid 3px;
  border-right: blue solid 3px;
  width: 100%;
  font-size: large;
  font-style: black;
  padding: 20px;
}


#women {
  cursor: pointer;
}

#women-container {
  display: none;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-bottom: blue solid 3px;
  border-top: blue solid 3Px;
  border-left: blue solid 3px;
  border-right: blue solid 3px;
  width: 100%;
  font-size: large;
  font-style: black;
  padding: 20px;
}

#kid-bear {
  cursor: pointer;
}

#kid_bear-container {
  display: none;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-bottom: blue solid 3px;
  border-top: blue solid 3Px;
  border-left: blue solid 3px;
  border-right: blue solid 3px;
  width: 100%;
  font-size: large;
  font-style: black;
  padding: 20px;
}

#text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-bottom: blue solid 3px;
  border-top: blue solid 3Px;
  border-left: blue solid 3px;
  border-right: blue solid 3px;
  width: 100%;
  font-size: large;
  font-style: black;
}

// ---------------------------------- paintings and description boxes ----------

.container-image {
  position: relative;
  text-align: center;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 12px;
  color: #fff;
  text-shadow: 0 0 8px rgb(138, 4, 4);
}

i:hover {
  color:tomato;
}


//sold button
.markSold {
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
//// style bottons for user
// .button-container{
//   position: relative;
// }
.user-botton{
  display:inline-block;
  height:30px;
  width:60px;
}